<% const showResults = spoiler || !Object.values(results).some(result => result === null); %>
<header class="headings">
    <h1>Today's Results<h1>
    <h2><%= new Date().toLocaleDateString() %></h2>
</header>
<section class="results-flex">
<% for(const name in results) { %>
        <% const displayName = name[0].toUpperCase() + name.slice(1); %>
        <% const result = results[name]; %>
        <% const status = !result ? "Not submitted" : result.skipped ? "Skipped" : "Submitted" %>
        <% if (result && !result.skipped && showResults) { %>
            <details>
                <summary><%= displayName %> - <%= status %></summary>
                <table>
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Guesses</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= result.score === 0 ? "Didn't finish" : result.score %></td>
                            <td>
                                <% if (result.guesses) { %>
                                    <img src="<%= result.guesses %>" alt="<% result.name %> guesses">
                                <% } %>
                            </td>
                            <td>
                                <% if (result.stats) { %>
                                    <img src="<%= result.stats %>" alt="<% result.name %> stats">
                                <% } %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </details>
        <% } else if (result) { %>
            <p><%= displayName %> - <%= status %></p>
        <% } else { %>
            <p><%= displayName %> - <%= status %></p>
        <% } %>
<% } %>
</section>
<% if (!showResults) { %>
<footer>
    <p>By default results are not revealed until everyone has submitted.</p>
    <button type="button" role="button" id="show-spoilers" onclick="getResults(true)">Show anyway</button>
</footer>
<% } %>