<% const showResults = true || !Object.values(results).some(result => result === null); %>
<div class="headings">
    <h1>Wordle Results<h1>
    <p><%= new Date().toLocaleDateString() %></p>
</div>
    <% if (!showResults) { %>
        <small>Results are not revealed until everyone has submitted.</small>     
    <% } %>
<% for(const name in results) { %>
    <% const displayName = name[0].toUpperCase() + name.slice(1); %>
    <% const result = results[name]; %>
    <% if (result && showResults) { %>
        <details>
            <summary><%= displayName %> - Submitted</summary>
            <ul>
                <li>Score: <%= result.score === 0 ? "Didn't finish" : result.score %></li>
                <% if (result.guesses) { %>
                    <li>Guesses: <img src="<%= result.guesses %>" alt="<% result.name %> guesses"></li>
                <% } %>
                <% if (result.stats) { %>
                    <li>Stats: <img src="<%= result.stats %>" alt="<% result.name %> stats"></li>
                <% } %>
            </ul>
        </details>
    <% } else if (result) { %>
        <p><%= displayName %> - Submitted</p>
    <% } else { %>
        <p><%= displayName %> - Not submitted</p>
    <% } %>
<% } %>